@import '../../styles/Fonts.scss';
@import '../../styles/breakpoints.scss';

.paper {
  width: 100%;
  max-width: 600px;
  padding: 25px 95px 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $backgroundPaper;
  border: none;

  @include sm {
    max-width: 300px;
    padding: 20px;
  }

  &:focus {
    outline: none;
  }

  h2 {
    @include TitleModal;

    @include sm {
      margin: 0 40px;
      @include RobotoLightSubtitle;
      font-weight: 600;
    }
  }

  .input {
    width: 100%;
    margin: 40px 0 20px;

    @include sm {
      margin: 10px 0px;
    }
  }

  button {
    @include RobotoLightSubtitle;
    text-transform: none;
    border: none;

    &:hover {
      background: none;
    }
  }
}

button.btn {
  width: 100%;
  max-width: 680px;
  padding: 10px 20px;
  display: flex;
  color: $textPrimary;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  background: none;
  border: none;
}
